@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




.image{
      
    margin-left:100px;
    
   
    strong{
        font-size: 30px;
        margin-left:180px;
        color:navy;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;

    
}
}
@media only screen and (max-width: 320px) {
    .image{
    
        margin:10px;
        width:300%;
        strong{
           
            margin-left:200px;
            font-size:25px;



              
        }

    }
}