@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




.image{
      
    
    width:80%;   
    margin:10px; 
    strong{
        font-size: 30px;
        // margin-left: 350px;
        color:navy;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;

    
}
};