@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0%;
    padding: 0%;
}

.wel {
    .welcome {
        margin: 10%;
        display: flex;
        flex-basis: 60%;
        gap: 50px;
        h3{
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        }

        .welcome-para {
            font-size: 20px;
            height: 100px;
            width: 600px;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
        }
        
    }

    // .welcome-btn {
    //     margin: 10%;
    //     display: flex;
    //     flex-direction: row;
    //     //   align-items: center;
    //     justify-content: space-evenly;

    // }
    .display{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        border:1px solid rgb(58, 14, 232);
        gap:50px;
        margin-left:25%;
        border-radius: 20px;
        color:blue;
        height:250px;
        width:600px;
        background-color:white;
        font-size: 30px;
        margin-bottom: 10%;
       }
    .btn{
        display:flex;
        justify-content: space-evenly;
       
    }
    button {
        height: 60px;
        width: 200px;
        border: 1px solid black;
        font-size: 20px;
        background-color: rgb(188, 188, 244);
       
        border-radius: 10px;
        
        
    }

}